<a href="https://colab.research.google.com/github/Udaykiran06-art/PANDAS-DF-FILTERING/blob/main/PANDAS_DF_FILTERING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sales4.csv to sales4.csv

In [ ]:
#Loading csv file
import pandas as pd
df = pd.read_csv("sales4.csv")
print(df.head())

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone

   Product_Cost
0         59000
1         69000
2         65999
3         63999
4         63999

In [ ]:
#Filtering DataFrame by using relational operator: single condition
import pandas as pd
df1 = pd.read_csv("sales4.csv")
con1 = df1['Product_Cost']>65000
df2 = df1[con1]
print(df2)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
1           1024    Chaithanya           14                   iPhone 11
2           1025        Shahid           20  Bose SoundSport Headphones
11          1034         Tarun           11          Samsung Galaxy S20
13          1036    Chaithanya           14      LG ThinQ Refrigerator
17          1040       Sumanth           22                    iPhone 8
...          ...           ...          ...                         ...
299982    301005         Tarun           11          Samsung Galaxy S20
299983    301006         Shafi           25      27in 4K Gaming Monitor
299985    301008         Venki           15    Apple Airpods Headphones
299988    301011         Venki           15                Google Phone
299990    301013        Balaji           12                   iPhone 11

        Product_Cost
1              69000
2              65999
11             69999
13             69999
17             65999
...              ...
299982         69000
299983         69000
299985         65999
299988         65999
299990         65999

[112280 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using relational operator : single condition
import pandas as pd
df1 = pd.read_csv("sales4.csv")
con1 = df1['Product_Cost']>70000
df2 = df1[con1]
print(df2)

        Order_Id Customer_Name  Customer_Id            Product_Name  \
25          1048        Partha            8  Samsung Galaxy S9 Plus
28          1051       Lavanya           16      LG Washing Machine
42          1065     Madhurima            7            20in Monitor
45          1068         Vinay           10  Samsung Galaxy S9 Plus
53          1076         Tarun           11      LG Washing Machine
...          ...           ...          ...                     ...
299955    300978        Siddhu           18  34in Ultrawide Monitor
299963    300986        Shahid           20  34in Ultrawide Monitor
299964    300987        Harsha            5      Macbook Pro Laptop
299965    300988     Madhurima            7           Flatscreen TV
299973    300996         Vinay           10  Samsung Galaxy S9 Plus

        Product_Cost
25             75000
28             75000
42             75999
45             75999
53             75999
...              ...
299955         75000
299963         75999
299964         75000
299965         75000
299973         75999

[37401 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using relational operator : Multiple conditions
import pandas as pd
df1 = pd.read_csv("sales4.csv")

con1 = df1['Product_Cost']>50000
con2 = df1['Product_Cost']>60000

df2 = df1[con1&con2]
print(df2)

        Order_Id Customer_Name  Customer_Id                Product_Name  \
1           1024    Chaithanya           14                   iPhone 11
2           1025        Shahid           20  Bose SoundSport Headphones
3           1026         Veeru            3        Apple iPad 10.2-inch
4           1027          Venu           23                Google Phone
5           1028        Daniel            6      Samsung Galaxy S9 Plus
...          ...           ...          ...                         ...
299985    301008         Venki           15    Apple Airpods Headphones
299988    301011         Venki           15                Google Phone
299989    301012         Tarun           11             ThinkPad Laptop
299990    301013        Balaji           12                   iPhone 11
299997    301020        Harsha            5          LG Washing Machine

        Product_Cost
1              69000
2              65999
3              63999
4              63999
5              63999
...              ...
299985         65999
299988         65999
299989         65000
299990         65999
299997         65000

[187501 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using relational operator:Multiple conditions
import pandas as pd
df1 = pd.read_csv("sales4.csv")
con1 = df1.Product_Name == "iPhone 11"
con2 = df1.Customer_Name == "Nireekshan"
df2 = df1[con1&con2]
print(df2)

        Order_Id Customer_Name  Customer_Id Product_Name  Product_Cost
821         1844    Nireekshan            1    iPhone 11         63999
1086        2109    Nireekshan            1    iPhone 11         65000
1529        2552    Nireekshan            1    iPhone 11         55000
1539        2562    Nireekshan            1    iPhone 11         61000
1676        2699    Nireekshan            1    iPhone 11         65000
...          ...           ...          ...          ...           ...
296768    297791    Nireekshan            1    iPhone 11         55000
297335    298358    Nireekshan            1    iPhone 11         63999
297717    298740    Nireekshan            1    iPhone 11         50000
297766    298789    Nireekshan            1    iPhone 11         55999
298524    299547    Nireekshan            1    iPhone 11         65999

[581 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using relational operator : Multiple conditions
import pandas as pd
df1 = pd.read_csv("sales4.csv")
con1 = df1.Product_Name == 'iPhone 11'
con2 = df1.Customer_Name == 'Shahid'
df2 = df1[con1&con2]
print(df2)

        Order_Id Customer_Name  Customer_Id Product_Name  Product_Cost
26          1049        Shahid           20    iPhone 11         65999
783         1806        Shahid           20    iPhone 11         69000
1260        2283        Shahid           20    iPhone 11         69000
1834        2857        Shahid           20    iPhone 11         65999
1848        2871        Shahid           20    iPhone 11         69999
...          ...           ...          ...          ...           ...
298667    299690        Shahid           20    iPhone 11         65999
298969    299992        Shahid           20    iPhone 11         69000
299206    300229        Shahid           20    iPhone 11         65000
299691    300714        Shahid           20    iPhone 11         63999
299950    300973        Shahid           20    iPhone 11         75000

[594 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using loc indexer
import pandas as pd
df1 = pd.read_csv("sales4.csv")
con1 = df1.Product_Name == 'iPhone 11'
con2 = df1.Customer_Name == 'Shahid'
df2 = df1.loc[con1&con2]
print(df2)

        Order_Id Customer_Name  Customer_Id Product_Name  Product_Cost
26          1049        Shahid           20    iPhone 11         65999
783         1806        Shahid           20    iPhone 11         69000
1260        2283        Shahid           20    iPhone 11         69000
1834        2857        Shahid           20    iPhone 11         65999
1848        2871        Shahid           20    iPhone 11         69999
...          ...           ...          ...          ...           ...
298667    299690        Shahid           20    iPhone 11         65999
298969    299992        Shahid           20    iPhone 11         69000
299206    300229        Shahid           20    iPhone 11         65000
299691    300714        Shahid           20    iPhone 11         63999
299950    300973        Shahid           20    iPhone 11         75000

[594 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using iloc indexer
import pandas as pd
df1 = pd.read_csv("sales4.csv")
df2 = df1.loc[:5,]
print(df2)

   Order_Id Customer_Name  Customer_Id                Product_Name  \
0      1023         Venki           15            27in FHD Monitor
1      1024    Chaithanya           14                   iPhone 11
2      1025        Shahid           20  Bose SoundSport Headphones
3      1026         Veeru            3        Apple iPad 10.2-inch
4      1027          Venu           23                Google Phone
5      1028        Daniel            6      Samsung Galaxy S9 Plus

   Product_Cost
0         59000
1         69000
2         65999
3         63999
4         63999
5         63999

In [ ]:
#Filtering DataFrame by using loc indexer
import pandas as pd
df1 = pd.read_csv("sales4.csv")
rows = df1.index[0:]
cols = ["Product_Name","Customer_Id"]
df2 = df1.loc[rows,cols]
print(df2)

                      Product_Name  Customer_Id
0                 27in FHD Monitor           15
1                        iPhone 11           14
2       Bose SoundSport Headphones           20
3             Apple iPad 10.2-inch            3
4                     Google Phone           23
...                            ...          ...
299995        Apple iPad 10.2-inch            4
299996          Macbook Pro Laptop            3
299997          LG Washing Machine            5
299998                   LG Mobile            1
299999      34in Ultrawide Monitor           17

[300000 rows x 2 columns]

In [ ]:
#Filtering DataFrame by using loc indexer
import pandas as pd
rows = df1.index[0:4]
cols = ["Product_Name","Customer_Id"]
df2 = df1.loc[rows,cols]
print(df2)

                 Product_Name  Customer_Id
0            27in FHD Monitor           15
1                   iPhone 11           14
2  Bose SoundSport Headphones           20
3        Apple iPad 10.2-inch            3

In [ ]:
#Filtering DataFrame by using loc indexer
import pandas as pd
df1 = pd.read_csv("sales4.csv")
rows = df1.index[5:]
cols = ["Product_Name","Customer_Id"]
df2 = df1.loc[rows,cols]
print(df2)

                  Product_Name  Customer_Id
5       Samsung Galaxy S9 Plus            6
6                    iPhone 11           23
7             27in FHD Monitor           25
8                 20in Monitor            2
9           LG Washing Machine           19
...                        ...          ...
299995    Apple iPad 10.2-inch            4
299996      Macbook Pro Laptop            3
299997      LG Washing Machine            5
299998               LG Mobile            1
299999  34in Ultrawide Monitor           17

[299995 rows x 2 columns]

In [ ]:
#Filtering DataFrame by using loc indexer
import pandas as pd
df1 = pd.read_csv("sales4.csv")
a = df1.Product_Name == "LG Washing Machine"
b = df1.Customer_Id == 1
c = a | b
df2 = df1.loc[c]
print(df2)

        Order_Id Customer_Name  Customer_Id              Product_Name  \
9           1032       Neelima           19        LG Washing Machine
14          1037    Nireekshan            1  Apple Airpods Headphones
24          1047         Shafi           25        LG Washing Machine
28          1051       Lavanya           16        LG Washing Machine
39          1062         Tarun           11        LG Washing Machine
...          ...           ...          ...                       ...
299936    300959        Partha            8        LG Washing Machine
299937    300960    Nireekshan            1          27in FHD Monitor
299970    300993    Nireekshan            1                  iPhone 8
299997    301020        Harsha            5        LG Washing Machine
299998    301021    Nireekshan            1                 LG Mobile

        Product_Cost
9              63000
14             55999
24             63999
28             75000
39             61000
...              ...
299936         65999
299937         60000
299970         60000
299997         65000
299998         60000

[26278 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using loc isin() method
import pandas as pd
df1 = pd.read_csv("sales4.csv")
a = ["Macbook Pro Laptop"]
b = df1.Product_Name.isin(a)
df2 = df1[b]
print(df2)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
23          1046     Madhurima            7  Macbook Pro Laptop         50000
49          1072        Balaji           12  Macbook Pro Laptop         61000
56          1079         Tarun           11  Macbook Pro Laptop         75000
60          1083         Tarun           11  Macbook Pro Laptop         65999
85          1108         Vijay            9  Macbook Pro Laptop         59000
...          ...           ...          ...                 ...           ...
299906    300929        Partha            8  Macbook Pro Laptop         51999
299907    300930       Neelima           19  Macbook Pro Laptop         63000
299964    300987        Harsha            5  Macbook Pro Laptop         75000
299974    300997    Chaithanya           14  Macbook Pro Laptop         65999
299996    301019         Veeru            3  Macbook Pro Laptop         51999

[15144 rows x 5 columns]

In [ ]:
#Filtering DataFrame by using by using loc isin()method
import pandas as pd
df1 = pd.read_csv("sales4.csv")
a = ["34in Ulterwide Monitor","Macbook Pro Laptop"]
b = df1.Product_Name.isin(a)
df2 = df1[b]
print(df2)

        Order_Id Customer_Name  Customer_Id        Product_Name  Product_Cost
23          1046     Madhurima            7  Macbook Pro Laptop         50000
49          1072        Balaji           12  Macbook Pro Laptop         61000
56          1079         Tarun           11  Macbook Pro Laptop         75000
60          1083         Tarun           11  Macbook Pro Laptop         65999
85          1108         Vijay            9  Macbook Pro Laptop         59000
...          ...           ...          ...                 ...           ...
299906    300929        Partha            8  Macbook Pro Laptop         51999
299907    300930       Neelima           19  Macbook Pro Laptop         63000
299964    300987        Harsha            5  Macbook Pro Laptop         75000
299974    300997    Chaithanya           14  Macbook Pro Laptop         65999
299996    301019         Veeru            3  Macbook Pro Laptop         51999

[15144 rows x 5 columns]

In [ ]:
#Selecting unique column values
import pandas as pd
df1 = pd.read_csv("sales4.csv")
a = pd.unique(df1.Product_Name)
print(a)
print(len(a))

['27in FHD Monitor' 'iPhone 11' 'Bose SoundSport Headphones'
 'Apple iPad 10.2-inch' 'Google Phone' 'Samsung Galaxy S9 Plus'
 '20in Monitor' 'LG Washing Machine' 'iPhone 7s' 'Samsung Galaxy S20'
 'LG ThinQ Refrigerator ' 'Apple Airpods Headphones' 'iPhone 8'
 'Macbook Pro Laptop' 'LG Mobile' 'ThinkPad Laptop' 'Flatscreen TV'
 '34in Ultrawide Monitor' 'iPhone 9' '27in 4K Gaming Monitor']
20

In [ ]:
#Selecting unique column values
import pandas as pd
df = pd.read_csv("sales4.csv")
a = pd.unique(df.Customer_Name)
print(a)
print(len(a))

['Venki' 'Chaithanya' 'Shahid' 'Veeru' 'Venu' 'Daniel' 'Shafi' 'Kedar'
 'Neelima' 'Vijay' 'Tarun' 'Nireekshan' 'Karteek' 'Sumanth' 'Mallikarjun'
 'Vinay' 'Lavanya' 'Madhurima' 'Partha' 'Siddhu' 'Jaya Chandra' 'Balaji'
 'Pradhan' 'Harsha' 'Mohan']
25

In [ ]:
#Creating a DataFrame
import pandas as pd
import numpy as np
data = [
    ['Shahid',21,40000],
    ['Nireekshan',22,20000],
    ['Veeru',45,90000],
    ['Sumanth',20,95000],
    [np.nan,2,99000],
    ['Prasad',1,41000]
]
c = ['Name','Age','Salary']
df1 = pd.DataFrame(data,columns=c)
print(df1)

         Name  Age  Salary
0      Shahid   21   40000
1  Nireekshan   22   20000
2       Veeru   45   90000
3     Sumanth   20   95000
4         NaN    2   99000
5      Prasad    1   41000

In [ ]:
#notnull()method
import pandas as pd
import numpy as np
data = [
    ['Shahid',21,40000],
    ['Nireekshan',22,20000],
    ['Veeru',45,90000],
    ['Sumanth',20,95000],
    [np.nan,2,99000],
    ['Prasad',1,41000]
]
c = ['Name','Age','Salary']
df1 = pd.DataFrame(data,columns=c)
d = df1.Name.notnull()
df2 = df1[d]
print(df1)
print()
print(df2)

         Name  Age  Salary
0      Shahid   21   40000
1  Nireekshan   22   20000
2       Veeru   45   90000
3     Sumanth   20   95000
4         NaN    2   99000
5      Prasad    1   41000

         Name  Age  Salary
0      Shahid   21   40000
1  Nireekshan   22   20000
2       Veeru   45   90000
3     Sumanth   20   95000
5      Prasad    1   41000